@font-face {
    font-family: "PingFangSCRegular";
    src: url('../fonts/PingFangSCRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix{
    overflow:hidden;
}
.clearfix::after{
    display: block;
    content: '';
    clear:both;
    overflow: hidden;
}
.tac{
    text-align: center;
}
.center-wrap{
     width: 1146px;
    margin:0 auto;
}
.db{
    display: block;
}
.dib{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}

body{
    font: normal 12px/1.5  Aria,"宋体";
    color:white;
}