
/* 固定header三层的高度和颜色 */
.login{
    height: 32px;
    position: relative;
}
nav.nav{
    height: 40px;
}
.logo{
    height: 78px;
}
.bgb{
    background-color: #2A2A2A;
}
.bgg{
    background-color: #20BD9A ;
}
/* ---------------- */
/* logo部分 */

.bgb .login > ul{
    position: absolute;
    left:0;
    top:50%;
    margin-top: -9px;

}
.bgb .login > ul li {
    float: left;
    margin-right: 10px;
    position: relative;
    font: normal 12px/1.5 Aria,"宋体";
}
.bgb .login > ul li.have-menu {
    padding-right:20px;
    position: relative;
}
.bgb .login > ul li.have-menu em.arrow{
    position: absolute;
    width:10px;
    height: 10px;
    background-color:#2A2A2A;
    /* background-color:red; */
    /* 微调箭头的整体位置 */
    top: 4px;
    right: 7px;
}
.bgb .login > ul li.have-menu:hover em.arrow{
    transform: rotate(180deg);
    transition:transform .5s linear 0s ;
}
.bgb .login > ul  li.have-menu em.arrow i, .bgb ul li.have-menu em.arrow b{
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    margin-left:-3px;
    top:25%;
    transform:rotate(45deg);
}
.bgb  .login > ul  li.have-menu em.arrow i{
    background-color: #2A2A2A;
    /* background-color: transparent; */
    /* 向上微调压盖的盒子出现箭头 */
    top:-30%;
    left: 50%;
}
.bgb  .login > ul  li.have-menu em.arrow b{
    width: 4px;
    height: 4px;
    background-color: white;
    left:50%;
    top: 50%;
    margin-left: -2px;
    margin-top:-4px;
}
.bgb  .login > ul  li.have-menu div.menu{
    position: absolute;
    width: 100px;
    background-color: #20BD9A;
    opacity: .9;
    z-index: 999;
    box-shadow: 10px 10px 10px grey;
    display: none;
}

.bgb  .login > ul  li.have-menu:hover div.menu{
    display: block;
}
.bgb  .login > ul  li.have-menu div.menu ul.menu-list li{
    margin:0 0 5px 5px;
    clear: both;
}
.bgb  .login > ul  li.have-menu div.menu ul.menu-list li a{
    color:white;
}
.bgb  .login > ul  li.have-menu div.menu ul.menu-list li a:hover{
    color:rgb(140, 0, 255);
}


.bgb  div.login .right{
    position:absolute;
    height: 18px;
    top:50%;
    margin-top: -9px;
    right: 0;
}

.bgb div.login .right div{
    float:left;
    margin-right: 10px;
    /* background-color: red; */
}
.bgb div.login .right div:last-child{
    margin-right: 0;
}
.bgb div.login .right div.iconfont{
    font-size:15px;
}
.bgb div.login .right span{
    float: left;
    font-size:16px;
    margin-right: 10px;
}


/* --------导航栏--------------- */
.bgg .nav ul{
    float: left;
    height:40px;
}
.bgg .nav ul li{
    float: left;
    position: relative;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 8px;
}
.bgg .nav ul li.have-menu{
    padding-right: 20px;
    position: relative;
}
.bgg ul li.have-menu em.arrow{
    background-color: #20BD9A;
    /* background-color: red; */
    width: 15px;
    height: 15px;
    position: absolute;
    top:50%;
    /* 微调位置 */
    margin-top: -6.5px;
    right:0;
    transform: rotate(0);
    /* position: absolute; */
}
.bgg ul li.have-menu:hover em.arrow{
    transform: rotate(180deg);
    transition: transform .3s linear 0s ;
}
.bgg ul li.have-menu em.arrow i, .bgg ul li.have-menu em.arrow b{
    width: 10px;
    height: 10px;
    position: absolute;
    background: white;
    top:-5px;
    left: 2.4px;
    transform: rotate(45deg);
}
.bgg ul li.have-menu em.arrow b{
    /* background-color: #fff; */
    background:white;
    top:-2px;
}
.bgg ul li.have-menu em.arrow i{
    background-color: #20BD9A;

}

.bgg ul li.have-menu div.menu {
    position: absolute;
    width: 130px;
    background-color: #20BD9A;
    opacity: .9;
    z-index: 999;
    box-shadow: 10px 10px 10px grey;
    display: none;
}

.bgg ul li.have-menu:hover div.menu{
    display: block;
    padding:10px;
}

.bgg ul li.have-menu div.menu dl dt{
    color:black;
    font-size:14px;
    font-family: PingFangSC-Semibold;
}
.bgg ul li.have-menu div.menu dl dd a{
    /* display: block; */
    font-family:PingFangSC-Semibold;
    font-size: 12px;
}
.bgg ul li.have-menu div.menu dl dd a:hover{
    color:rgb(140, 0, 255);
}

/* ------logo------- */
div.logo{
    height: 36px;
    padding:21px 0;
}
div.logo .title{
    float: left;
    width: 150px;
    height: 36px;
    font: bold 24px/36px PingFangSC-Medium;
    color: #20BD9A;
}

div.logo  div.search {
    float: left;
    width: 405px;
    height: 28px;
    position: relative;
    margin-top: 3px;
}
div.logo div.search input{
    width: 373px;
    height: 28px;
    padding: 0;
    border-radius: 4px 0 0 4px;
    border: 1px solid #20BD9A;
}
div.logo div.search .btn{
    position: absolute;
    width: 32px;
    height: 30px;
    display: block;
    background-color: #20BD9A;
    right: 0;
    top: 0;
    border-radius: 0 4px 4px 0;
    text-align: center;
    font-size:18px;
    line-height: 30px;
}

